{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card">
        <div class="row">
            <div class="col-md-12">
                <h2>Accounts</h2>
                <a class="btn btn-primary" href="{% url 'create_pinterest_account' %}">Pinterest Account hinzufügen</a>
                <a class="btn btn-primary" href="{% url 'create_facebook_account' %}">Facebook Account hinzufügen</a>
                <a class="btn btn-primary" href="{% url 'create_instagram_account' %}">Instagram Account hinzufügen</a>
                <a class="btn btn-primary" href="{% url 'create_youtube_account' %}">YouTube Account hinzufügen</a>
            </div>
        </div>
        </div>
        <div class="card">
            <div class="table-responsive">
                <table class="table mb-0">
                    <tbody>
                       {% for account in accounts %}
                        <tr class="align-middle">
                            <td class="font-size-12">{{ account.username }}</td>
                            <td class="font-size-12">
                                <!-- Entsprechendes Icon basierend auf der Account-Klasse anzeigen -->
                                {% if account.get_class_name == 'Instagram' %}
                                    <img src="{% static 'core/instagram_published.png' %}" alt="Instagram" class="icon-40px">
                                {% elif account.get_class_name == 'Facebook' %}
                                    <img src="{% static 'core/facebook_published.png' %}" alt="Facebook" class="icon-40px">
                                {% elif account.get_class_name == 'Pinterest' %}
                                    <img src="{% static 'core/pinterest_published.png' %}" alt="Pinterest" class="icon-40px">
                                {% elif account.get_class_name == 'Youtube' %}
                                    <img src="{% static 'core/youtube_published.png' %}" alt="Youtube" class="icon-40px">
                                {% endif %}
                            </td>
                            <td class="font-size-12">
                                <!-- Profilbild anzeigen, falls vorhanden -->
                                {% if account.profile_image %}
                                    <img src="{{ account.profile_image.url }}" alt="{{ account.username }}" class="icon-40px">
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url account.get_update_url pk=account.id %}">
                                    <img src="{% static 'core/edit.png' %}" alt="Edit" class="icon-40px">
                                </a>
                            </td>
                            <td>
                                <a href="{% url account.get_delete_url pk=account.id %}">
                                    <img src="{% static 'core/delete.png' %}" alt="Delete" class="icon-40px">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}