{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container">
    <div class="card">
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <img src="{% static 'core/idea.png' %}" alt="Post Icon" style="height: 64px; width: 64px; margin-right: 10px;">
                </div>
                <div class="col-md-6">
                    <h2>Ideas</h2>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success" href="{% url 'create_idea' %}">Eigene Idee</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success" href="{% url 'get_ideas' %}">Ideen finden</a>
                </div>
            </div>
        </div>
        <div class="card">
        <div class="row">

            <h3>Trending Keywords in Deutschland (Google Trends) </h3>
            <p></p>
            <p>
                {% for keyword in trending_keywords %}
                    <span class="badge bg-secondary">{{ keyword }}</span>
                {% endfor %}
            </p>

        </div>
    </div>
    <div class="card">
            <div class="row">
                <form method="get" action="{% url 'list_ideas' %}" class="mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <select name="sort" class="form-control">
                                <option value="datetime_asc">Datum aufsteigend</option>
                                <option value="datetime_desc">Datum absteigend</option>
                            </select>
                        </div>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary">Filtern und sortieren</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="position-relative card table-nowrap table-card">

                <div class="table-responsive">
                    <table class="table mb-0">
                   <tbody>
                            {% for idea in ideas %}

                                <tr class="align-middle">
                                    <td>
                                        {{ idea.id }}
                                    </td>
                                    <td>
                                        {{ idea.idea }}
                                    </td>
                                     <td>
                                        {{ idea.datetime }}
                                    </td>
                                 <td>
                                    <a class="btn btn-primary" href="{% url 'update_idea' idea.id %}">Bearbeiten</a>
                                 </td>
                                <td>
                                    <a class="btn btn-danger" href="{% url 'delete_idea' idea.id %}">Löschen</a>
                                </td>

                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Vorheriger Code -->

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if ideas.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ ideas.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for num in ideas.paginator.page_range %}
            {% if ideas.number == num %}
                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if ideas.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ ideas.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ ideas.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
</div>
    </div>
<!-- Weiterer Code -->


{% endblock %}





