{% extends 'base.html' %}

{% block content %}
    <div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">Projektname:</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label for="id_description" class="form-label">Beschreibung:</label>
            {{ form.description }}
        </div>
        <div class="mb-3">
            <label for="id_image" class="form-label">Bild:</label>
            {{ form.image }}
        </div>
        <div class="mb-3">
            <label for="id_slide_mask_first" class="form-label">Maske für Slides (erster Slide)</label>
            {{ form.slide_mask_first }}
        </div>
     <div class="mb-3">
            <label for="id_slide_mask_regular" class="form-label">Maske für Slides (regulärer Slide)</label>
            {{ form.slide_mask_regular }}
        </div>
     <div class="mb-3">
            <label for="id_slide_mask_last" class="form-label">Maske für Slides (letzter Slide)</label>
            {{ form.slide_mask_last }}
        </div>
        <div class="mb-3">
            <label for="id_watermark" class="form-label">Watermark:</label>
            {{ form.watermark }}
        </div>
        <!-- Weitere Felder mit entsprechenden Labels und Bootstrap-Klassen -->
        <button type="submit" class="btn btn-primary">Projekt erstellen</button>
    </form>
</div>
{% endblock %}