{% extends 'base.html' %}

{% block content %}
{% load static %}
    <script>
$(document).ready(function(){
    $('.slick-slider').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        adaptiveHeight: true
    });
});
</script>


<div class="container">
    <div class="card">
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <img src="{% static 'core/post.png' %}" alt="Post Icon" style="height: 64px; width: 64px; margin-right: 10px;">
                </div>
                <div class="col-md-6">
                    <h2>Beiträge</h2>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-success" href="{% url 'create_post' %}">Beitrag aus Idee erstellen</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <form method="get" action="{% url 'list_posts' %}" class="mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <select name="category" class="form-control">
                                <option value="">Alle Kategorien</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select name="sort" class="form-control">
                                <option value="datetime_asc">Datum aufsteigend</option>
                                <option value="datetime_desc">Datum absteigend</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Filtern und sortieren</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    <div class="row">
        {% for ig_post in ig_posts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div id="igSlider-{{ ig_post.id }}" class="slick-slider">
                    {% for slide in ig_post.igslide_set.all %}
                    <div>
                        <img src="{{ slide.png.url }}" class="d-block w-100" alt="Slide {{ forloop.counter }}">
                    </div>
                    {% endfor %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                             <span class="badge bg-secondary">{{ ig_post.get_post_category }}</span>


                        </div>
                            <div class="col-md-6">
                             <span class="badge bg-secondary">{{ ig_post.datetime}}</span>


                        </div>

                    </div>

                    <h6 class="card-title">{{ ig_post.title }}</h6>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <!-- Pagination usw. -->

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
</div>
           </div>



{% endblock %}
