<!DOCTYPE html>
<html>
<head>



    <title>Content Engine</title>
        <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Slick-Theme (optional) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <!-- Fügen Sie hier weitere Head-Elemente wie CSS-Dateien hinzu -->
    {% load static %}
    <link href="{% static 'core/styles.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'core/favicon.ico' %}" type="image/x-icon">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Slick JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    $(document).ready(function(){
        $('#igSlider').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true
        });
    });
</script>

<script>



window.onload = function() {
    document.getElementById("loadingSpinner").style.display = "none";
}

</script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <header>

    </header>



    <div class="row">
        <div class="col-md-2">
            <aside>

                <!-- Sidebar -->
                <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
                    <div class="position-sticky">
                        <div class="list-group list-group-flush mx-3 mt-4">
                            <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                               <img src="{% static 'core/logo.png' %}" alt="Post Icon" style="height: 128px; width: 256px; margin-right: 10px;">
                            </a>
                            <a href="{% url 'overview' %}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                                <img src="{% static 'core/home.png' %}" alt="Post Icon" style="height: 40px; width: 40px; margin-right: 10px;">
                                <span>Dashboard</span>
                            </a>
                            <a href="{% url 'list_projects' %}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                                <img src="{% static 'core/projects.png' %}" alt="Post Icon" style="height: 40px; width: 40px; margin-right: 10px;">
                                <span>Projekte</span>
                            </a>
                            <a href="{% url 'list_ideas' %}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                                <img src="{% static 'core/idea.png' %}" alt="Post Icon" style="height: 40px; width: 40px; margin-right: 10px;">
                                <span>Ideen</span>
                            </a>
                            <a href="{% url 'list_posts' %}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                                <img src="{% static 'core/post.png' %}" alt="Post Icon" style="height: 40px; width: 40px; margin-right: 10px;">
                                <span>Beiträge: Bearbeiten</span>
                            </a>

                             <a href="{% url 'list_publish_posts' %}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                                <img src="{% static 'core/publish.png' %}" alt="Post Icon" style="height: 40px; width: 40px; margin-right: 10px;">
                                <span>Beiträge: Veröffentlichen</span>
                            </a>

                             <a href="{% url 'list_accounts' %}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                                <img src="{% static 'core/accounts.png' %}" alt="Post Icon" style="height: 40px; width: 40px; margin-right: 10px;">
                                <span>Social Media Accounts</span>
                            </a>

                            <a href="{% url 'list_links' %}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                                <img src="{% static 'core/link.png' %}" alt="Post Icon" style="height: 40px; width: 40px; margin-right: 10px;">
                                <span>Links</span>
                            </a>
                            <a href="{% url 'settings' %}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                                <img src="{% static 'core/settings.png' %}" alt="Post Icon" style="height: 40px; width: 40px; margin-right: 10px;">
                                <span>Einstellungen</span>
                            </a>

                        </div>

                    </div>
                </nav>
            </aside>
        </div>
        <div class="col-md-10">
          <div id="loadingSpinner" class="loading-spinner-overlay">
        <div class="loading-spinner"></div>
    </div>
            <main>
                {% block content %}

                {% endblock %}
            </main>
        </div>
    </div>


<!-- jQuery (benötigt von Slick) -->


</body>
</html>
